.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  /* height: 100vh; */
  /* background-color: white; */
}

.canvas-container {
  flex: 1;
  margin-right: 20px;
  background-color: #f5f5f5;
  /* padding: 20px; */
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.canvas-container canvas {
  border: none;
}
.player-container {
  flex: 1;
  margin-right: 40px;
  margin-left: 40px;
  height: 500px;
  overflow: auto;
  background-color: #f5f5f5;
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  margin-left: 20px;
  margin-right: 40px;
  height: 500px;
  background-color: #f5f5f5;
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-container input {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
.chat-container button {
  margin-left: 10px;
  background-color: #4caf50;
}
.input-section {
  flex: 1;
  margin-left: 20px;
  /* background-color: #f5f5f5; */
  padding: 20px;
  border-radius: 10px;
  /* border: 10px solid rgba(12, 44, 150, 0.75); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  /* width: 600px;
  height: 400px; */
}
.chat-list-item {
  margin: 0;
  margin-right: 5px;
}
.chat-list-section {
  height: 450px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.success-message {
  color: green;
  background-color: greenyellow;
}
.input-section input[type="text"] {
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-section button {
  padding: 10px 20px;
  width: 400px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.input-section h1 {
  text-align: center;
  color: #fff;
}

.hide-fields {
  display: none;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* navbar */
.navbar-container {
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  margin-top: 30px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* font-weight: bold; */
  color: black;
  margin-left: 20px;
  border: black solid 1px;
  padding: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* color-palette */
.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.color {
  width: 20px;
  height: 20px;

  cursor: pointer;
  margin-right: 10px;
  border: 2px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.start-button {
  margin-right: 20px;
}
.start-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
